@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Rubik:wght@300;400;500;600&display=swap');
@import url('./icons-v1.0/style.css');

:root {
    --gradient: linear-gradient(to right, #a894e6, #7e77ee);
    --grey: #f0f0f0;
    --transition: all 0.3s ease-in-out;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: #e0e5eb;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
}

.mobile {
    width: 350px;
    height: 700px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-rows: 50px 1fr 60px;
}


.mobile__top,
.mobile__bottom {
    align-self: center;
    justify-self: center;
}

.mobile__content {
    background-color: rgb(255, 255, 255);
}

.rooms {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 20px;
    justify-content: center;
    align-items: center;
    gap: 14px;

}

.room {
    display: grid;
    grid-template-rows: 130px 36px;
    align-content: center;
    font-size: 16px;
    text-align: center;
    background-color: var(--grey);
    border-radius: 12px;
    cursor: pointer;
    
}

.room:hover{
    transform: translate(0px, -5px);
    background-color: rgba(188, 149, 227, 0.221);
    transition: 0.3s ease-out;
}

.room.selected{
    background: var(--gradient);
    color: #fff;
}

.room.selected i{
    opacity: 1;
}

.room i{
    font-size: 5em;
    align-self: center;
    opacity: 0.7;
}


.selectbox {
    width: 143px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 25px;
    cursor: pointer;
    
}

.selectbox.open .ic_arrow {
    transform: rotate(-180deg);
}

.selectbox__selected {
    font-size: 18px;
    font-weight: 500;
    position: relative;
    z-index: 2;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ic_arrow {
    display: inline-block;
    font-size: 0.7em;
    margin-left: 10px;
    transform: rotate(0deg);
    transition: var(--transition);
}

.selectbox.open .selectbox__list{
    top: 120%;
    max-height: 200px;
}


.selectbox__list {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: -8px;
    right: -8px;
    padding: 8px 12px;
    border-radius: 3px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

.selectbox__item {
    cursor: pointer;
}

.selectbox__item.selected,
.selectbox__item:hover{
    color: #7e77ee;
    font-weight: bold;
}

.selectbox__item:not(:last-child) {
    margin-bottom: 4px;
}

/*СТраница настроек комнаты */

.settings{
    padding: 0 20px;
    display: none;

}

.settings__tabs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
    grid-template-rows: 95px;
}

.tab {
    display: grid;
    
    grid-template-rows: 2fr 1fr;
    align-content: center;
    font-size: 12px;
    text-align: center;
    background-color: var(--grey);
    border-radius: 12px;
    cursor: pointer;
}


.tab:hover{
    transform: translate(0px, -5px);
    background-color: rgba(188, 149, 227, 0.221);
    transition: all 0.3s ease-out;
}

.tab.selected{
    background: var(--gradient);
    color: #fff;
}

.tab.selected i{
    opacity: 1;
}

.tab i{
    font-size: 3em;
    align-self: center;
    opacity: 0.7;
}

/* Кнопка температуры Регулировка */

.temperature-button {
    width: 240px;
    height: 240px;
    margin: 0 auto;
    display: grid;
    align-items: center;
    justify-items: center;
    position: relative;
    cursor: pointer;
}

.temperature-button__info{
    position: relative;
    font-size: 32px;
    width: 70%;
    height: 70%;
    border-radius: 70%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.temperature-button__info::before{
    content: '';
    display: block;
    position: absolute;
    left: 4%;
    right: 4%;
    top: 4%;
    bottom: 4%;
    border-radius: 100%;
    opacity: 0.3;
    border: 1px solid #000;
}

.dots-box {
    transform-origin: center;
    transform: rotate(5deg);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.dots,
.line,
.line-active,
.round,
.separate-line,
.separate-dots {
    fill: transparent;
    stroke: var(--grey);
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-dasharray: 0 21;
    
}

.line,
.line-active,
.round{
    stroke-width: 1px;
    stroke-dasharray: 276 276;
    transform: rotate(48deg);
    transform-origin: center;
}

.line-active {
    stroke: rgb(164, 33, 204);
    stroke-dasharray: 54 276;
    transition: all 0.5s ease-in-out;
}

.round{
    stroke-width: 7px;
    stroke-dasharray: 0 276;
    transform: rotate(-240deg);
    stroke: rgb(0, 0, 0);
}

.settings__screen{
    display: none;
}

.settings__screen.selected{
    display: block;
}

.settings__screen-icon {
    text-align: center;
    font-size: 30px;
    color: #666;
    margin-bottom: 15px;
}

.ic_sun {
}

.slider {
    width: 100px;
    height: 250px;
    background-color: var(--grey);
    margin: 0 auto;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.slider__progress {
    background: var(--gradient);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    position: absolute;
    left: 0;
    right: 0;
    pointer-events: none;
    bottom: 0;
    min-height: 30px;
    height: 45%;
    

    
}

.slider__progress span{
    pointer-events: none;
}

.switch{
    width: 60px;
    height: 28px;
    background: var(--grey);
    margin: 30px auto 0;
    border-radius: 60px;
    position: relative;
    cursor: pointer;
}

.switch div {
    position: absolute;
    left: 52%;
    top: 0;
    width: 28px;
    height: 28px;
    border-radius: 28px;
    background: var(--gradient);
    transition: var(--transition);
}

.switch.off div{
    left: 0;
    background: #bbb;
}



.settings__screen-title {
    text-align: center;
    margin: 30px 0 15px;
    font-weight: 300;
}

.separate-line,
.separate-dots{
    stroke: white;
    transform: rotate(60deg);
    transform-origin: center;
}

.separate-dots{
    stroke-dasharray: 40.5 313;
}

.separate-line{
    stroke-dasharray: 53 276;
    transform: rotate(49deg);
    transform-origin: center;
}

.power {
    background: var(--gradient);
    color: #fff;
    width: 44px;
    height: 44px;
    border-radius: 44px;
    font-size: 24px;
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    cursor: pointer;
}

.power.off{
    background: var(--grey);
}

.ic_power {
}

.power-label{
    text-align: center;
    margin: 10px 0 0 0;
    font-size: 14px;
    font-weight: 300;
 
}

.save-button{
    background: var(--gradient);
    color: #fff;
    width: 250px;
    margin: 25px auto 0; 
    border-radius: 100px;
    font-size: 15px;
    text-align: center;
    padding: 16px;
    cursor: pointer;
}

